<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" >Welcome</a>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="#" data-toggle="modal" data-target="#new-question-modal">Ask Question</button>
</nav>