<div class="modal fade" id="new-question-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :question, url:'/questions', html: { class:"form-horizontal" } do %>
      <div class="modal-body">
  
  <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" name="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="Title">Ask your question</label>
    <input class="form-control" name="question_title" id="Title" placeholder="Legal questions" required>
  </div>

    <div class="form-group">
    <label for="inputQuestion">Explain your situation</label>
    <textarea class="form-control" name="question_body" id="inputQuestion" placeholder="Write your message" required></textarea>
  </div>

  <div class="form-group">
    <label for="FormControlSelect" required>Select city*</label>
    <select class="form-control" id="FormControlSelect">
    <option selected disabled value="">Please select</option>
      <option>Kathmandu</option>
      <option>Bhaktapur</option>
      <option>Thimi</option>
      <option>Lalitpur</option>
      <option>Baneshwor</option>
    </select>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>


</form>
<% end %>
      </div>
      
    </div>
  </div>
</div>