<div class="container">
<% @questions.each do |q|%>
<div class="lead well">
<div class="media">
  <div class="media-left">
   <a href="#"> 
        <img class="mr-3 media-object" src="http://www.gravatar.com/avatar/424242" alt="Generic placeholder image">
    </a>
    <div class="media-body">
        <div><%= time_ago_in_words q.created_at %>ago</div>
      <h4 class="mt-0 mb-1 media-heading"> <%= q.title %></h4>
      <%= q.description %>
      <%= q.city %>
      <%= q.user_id %>
      <%= q.tags %>
      
    </div>
    <a href="/questions/12" class="btn btn-success btn-xs"> View answers</a>
  </div>
</div>
</div>
<% end %>
</div>