<div class="container">
<br>

<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <div>
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal"> Submit new answer</a>
        </div>
        <%= render 'home/new_answer_form'%>
</div>
<br>
<br>
<div class="lead well">
<div class="media">
  <div class="media-left">
   <a href="#"> 
        <img class="mr-3 media-object" src="http://www.gravatar.com/avatar/424242" alt="Generic placeholder image">
    </a>
    <div class="media-body">
      <h4 class="mt-0 mb-1 media-heading">user@email.com asked:</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
</div>
</div>
